:root {
    --claro: #D5B9A7;
    --oscuro: #001006;
    --primarioBright: #BEF542;
    --secundario: #008849;
    --hover_bg: #00B383;

    --mainFont: 'Kanit', sans-serif;;
}
/*Globales*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before,*:after {
    box-sizing: inherit;
}
body {
    font-size: 16px;
    font-family: var(--mainFont);
    background-color: var(--secundario);
}
a {
    text-decoration: none;
}
h1, h2 , h3 {
    color: var(--oscuro);
}
.container {
    width: 98%;
    margin: 0 auto;
}
@media(min-width: 768px){
    .container {
        max-width: 120rem;
    }
}
/*PROPIEDADES COMUNES*/
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
    align-items: center;
}
.center {
    text-align: center;
}
.padding-1 {
    padding: 1rem;
}
.padding-2 {
    padding: 2rem;
}
.padding-5 {
    padding: 5rem;
}
.border {
    border-radius: 2rem;
}
.margin__bottom-2 {
    margin-bottom: 2rem;
}
.margin__bottom-3 {
    margin-bottom: 3rem;
}
.margin_top-5 {
    margin-top: 5rem;
}
.justify-center {
    justify-content: center;
}
.outline {
    outline: none;
}
.w-100 {
    max-width: 100%;
}
.fw-100 {
    width: 100%;
}
/********** INDEX **********/
/* HEADER*/
.logo-img {
    height: 20rem;
    width: 20rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    border-radius: 50%;
}
/* NAVEGACION */
.nav {
    background-color: var(--primarioBright);
    width: 100%;
    align-items: center;
}
@media(min-width: 756px){
    .nav {
        display: flex;
        flex-direction: row;
    }
}
.nav a {
    display: block;
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--secundario);
}
.link_nav:last-of-type {
    margin-right: none;
}
a.link--active {
    color: var(--claro);
}
.nav a:hover {
    color: var(--primarioBright);
    background-color: var(--hover_bg);
}
/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
@media(min-width: 640px){
    .grid {
        grid-template-columns: repeat(3,1fr);
    }
}
@media(min-width: 900px){
    .grid {
        grid-template-columns: repeat(4,1fr);
    }
}
/* TITULO */
.title {
    font-size: 3.8rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 3rem;
    margin: 0;
}
/* PRODUCTOS INDEX */
.product {
    background-color: var(--hover_bg);
    border-radius: 0.5rem;
}
.product__name, .price {
    font-size: 3rem;
    font-weight: bold;
}
.product__name {
    color: var(--primarioBright);
    margin: 0;
}
/*BG IMAGES*/
.bg__img {
    background-color: var(--bg);
    background-image: url(../img/bg-food.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    grid-column: 1 / 3;
}
.img1 {
    grid-row: 2 / 3;
    height: 30rem;
}
.img2 {
    grid-column: 1 / 3;
    grid-row: 8 / 9;
}
@media(min-width: 640px){
    .bg__img {
        height: 100%;
    }
    .img1 {
        grid-column: 2 / 4;
    }
    .img2 {
        grid-column: 1 / 3;
        grid-row: 6 / 7;
    }
}
@media(min-width: 900px){
    .bg__img {
        grid-template-columns: repeat(4,1fr);
    }
    .img1 {
        grid-column: 1 / 3;
    }
    .img2 {
        grid-column: 3 /5;
        grid-row: 5 / 6 ;
    }
}
/*FOOTER*/
.footer {
    background-color: var(--primarioBright);
}
.footer__text {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--oscuro);
    font-size: 2.5rem;
    padding: 3rem;
    margin-bottom: 0;
}
.icons {
    gap: 1rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}
.icon {
    height: 4rem;
    width: 4rem;
}
/********** NOSOTROS **********/
.container__text {
    text-align: justify;
    color: #FFFFFF;
}
@media(min-width: 768px){
    .column-2 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 3rem;
    }
    .columns__title {
        grid-column: 1 / 3;
    }
}
.section__title {
    font-size: 3rem;
    text-transform: uppercase;
}
.title__bg {
    background-color: var(--primarioBright);
}
.background-style {
    background-repeat: no-repeat;
    background-size: cover;
}
.top__img1, .top__img3 {
    background-image: url(../img/bg-nosotros.jpg);
}
.top__img2, .top__img4 {
    background-image: url(../img/segundo_bg.avif);
}
.dark--bg {
    background-color: var(--hover_bg);
}
.middle__text {
    margin: 5rem auto;
}
/***** VALUES *****/
@media(min-width: 768px){
    .values {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
    }
    .value {
        height: 20rem;
        width: 20rem;
        margin-left: 2rem;
    }
    .value:last-child {
        margin-left: none;
    }
}
.light-bg {
    background-color: #f2f8e2ea;
}
.btn {
    font-size: 2rem;
    height: 5rem;
    width: 20rem;
    border-radius: 5rem;
    border: none;
    background-color: var(--primarioBright);
    font-weight: 500;
}
.btn:hover {
    border: 0.2rem solid var(--oscuro);
    background-color: transparent;
}
/***** discount section *****/
.discount {
    padding: 3rem;
}
.newsletter-bg {
    background-color: var(--oscuro);
    margin-top: 3rem;
}
.newsletter__label {
    color: var(--claro);
    font-size: 2.5rem;
}
.input-submit {
    width: 35rem;
    border-radius: 3rem;
    border: none;
}
.form__details {
    align-items: center;
}
.submit {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-left: -5.5rem;
    border: none;
    background-color: var(--primarioBright);
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}
.flex__form {
    justify-content: space-between;
}
@media(min-width: 768px){
    .flex__form {
        flex-direction: row;
    }
    .newsletter__label {
        margin-bottom: 0;
    }
}
/********** PRODUCTO, PAGINA **********/
.container__product {
    gap: 2rem;
}
@media(min-width: 956px){
    .container__product {
        flex-direction: row;
    }
}
.product__img {
    width: 40rem;
}
.description__title {
    text-transform: uppercase;
    font-size: 3rem;
}
.description__text {
    line-height: 1.7;
    text-align: justify;
}
.input {
    width: 35rem;
    height: 7rem;
    border: none;
}
@media(min-width: 956px) {
    .formulario {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .amounts {
        grid-column: 2 / 3;
    }
    .note, .margin__btn {
        grid-column: 1 / 3;
    }
}
div .label, div .input, div .btn-100 {
    display: block;
    width: 100%;
}
.margin__btn {
    margin-top: 2rem;
}
.notes {
    min-width: 100%;
    max-width: 100%;
    min-height: 30rem;
    max-height: 30rem;
}
.label {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}